.production_article {
    height: calc(100vh - 57px);
    background-color: var(--background);
}

.head_history {
    padding: 15px 0;
    border-bottom: 2px solid var(--shadow_smx);
    color: var(--text);
}

.btn-danger {
    background-color: var(--btn_red) !important;
    height: 42px;
}

.image_name {
    color: var(--text_sm);
    font-size: small;
    text-wrap: nowrap;
}


.notice {
    color: var(--text_sm);
    font-size: small;
}

.checkbox {
    scale: 1.2;
}

.alert_header {
    background-color: var(--background);
    height: 50%;
}

.alert_header h5 {
    background-color: var(--background);
    border-bottom: 1px solid var(--shadow_smx);
}

.Close_alert_icon {
    width: 30px;
    height: 30px;
    fill: var(--icon_gray);
}

.alert_header p {
    color: var(--text_lg);
}

.form_errors {
    font-size: small;
}

@media (min-width: 576px) {
    .production_article {
        left: 0;
        width: calc(100% - 310px) !important;
        height: 100vh;
    }

    .br {
        display: none;
    }

    .alert_header {
        height: auto;
    }
}

@media (min-width: 992px) {
    .production_article {
        position: sticky !important;
        height: fit-content;
        border: 2px solid var(--shadow_smx);
        border-radius: 12px;
        margin-bottom: 50px;
    }

    .production_article::-webkit-scrollbar {
        width: 0px;
    }

    .show_information_item {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}