header {
    position: static;
    height: 65px;
    top: -65px;
    left: 0;
    box-shadow: 0 0 0 2px var(--shadow_smx);
    background-color: var(--background);
}

.logo {
    color: var(--text);
    font-size: 35px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
