body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box_key {
    left: 0;
    top: 0;
}

.box_icon_key {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--btn_red);

}

.icon_key {
    fill: var(--background);
    width: 30px;
    height: 30px;
}

.box_data_room {
    background-color: rgba(0, 0, 0, 0.233);
}

.data_room {
    border: 3px solid var(--border_sm);
    background-color: var(--map_members);
    height: auto;
}

.pass_room {
    margin-bottom: 100px;
}

.btn_mode {
    border: 3px solid var(--border_sm);
}

.btn_mode_warning {
    border: 3px solid var(--border_sm);
    background-color: var(--btn_red);
}

.btn_jay {
    border: 3px solid var(--border_sm);
}








@media (min-width: 992px) {}

@media (min-width: 768px) {
    .container_room {
        max-width: 850px;
        margin: auto;
    }

    .pass_room {
        max-width: 300px;
    }
}