body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box_key {
    left: -62px;
    top: -62px;
}

.box_icon_key {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 100%;
    border: 3px solid var(--border_sm);
    width: 100px;
    height: 100px;
    background-color: var(--background);
    rotate: 45deg;
}

.icon_key {
    fill: var(--text_sm);
    width: 30px;
    height: 30px;
}

.box_data_room {
    background-color: rgba(0, 0, 0, 0.233);
}

.data_room {
    border: 3px solid var(--border_sm);
    background-color: var(--map_members);
    height: auto;
}













@media (min-width: 992px) {}

@media (min-width: 768px) {
    .container_room {
        max-width: 850px;
        margin: auto;
    }
}