:root {
  --background: #ffffff;
  --background_sm: #f0f0f1;
  --shadow_smx: #e5e5e5;
  --shadow_sm: #a1a3a8cc;
  --shadow: #757575;
  --shadow_lg: #212121;
  --text_br: #ffffff;
  --text_sm: #a1a3a8;
  --text: #757575;
  --text_lg: #212121;
  --icon_red: #ff5252;
  --btn_red: #ef4056;
  --btn_purple: #66c;
  --map_members: #a1a3a8;
  --icon_gray: #a1a3a8;
  --border_sm: rgb(236, 236, 236);
  --border: #f0f0f1;
  --border_lg: #e0e0e2;
  --green_border: #a3b18a;
  --red_border: #ee6055;
}

.app {
  padding-top: 0px;
  padding-bottom: 55px;
  background-color: var(--background);
}

body>* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  padding: 0 !important;
}


@media (max-width: 1400px) {}

@media (min-width: 1400px) {}

@media (min-width: 1200px) {}

@media (min-width: 992px) {
  .container-p {
    padding: 0 0 0 100px !important;
  }
}

@media (min-width: 768px) {
  .container-p {
    padding: 0 60px 0 0 ;
  }
}

@media (min-width: 576px) {
  .app {
    padding-bottom: 0;
  }
}








@media (max-width: 992px) {
  .container {
    margin: 0 !important;
    max-width: 100% !important;
  }
}