.information_article {
    height: calc(100vh - 57px);
    background-color: var(--background);
}

.head_link {
    height: 50px;
    border-bottom: 1px solid var(--border_lg);
}

.link_information {
    color: var(--text_sm);
    background-color: var(--background);
    border: none;
}

.link_visible {
    color: var(--btn_red);
    background-color: var(--background);
    border: none;
    border-bottom: 3px solid var(--btn_red);
}

.btn-danger {
    background-color: var(--btn_red) !important;
}

.image_name {
    color: var(--text_sm);
    font-size: small;
}

.notice {
    color: var(--text_sm);
    font-size: small;
}


@media (min-width: 576px) {
    .information_article {
        left: 0 !important;
        width: calc(100% - 310px) !important;
    }

    .br {
        display: none;
    }
}

@media (min-width: 992px) {
    .information_article {
        position: sticky !important;
        height: fit-content;
        border: 2px solid var(--shadow_smx);
        border-radius: 12px;
        margin-bottom: 50px;
    }

    .show_information::-webkit-scrollbar {
        width: 0px;
    }

    .show_information {
        height: auto !important;
    }
    .show_information_item{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}