body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.login_section {
    background-color: var(--background_sm);
}

.box_login {
    background-color: var(--background);
}

.btn_submit {
    background-color: var(--btn_red);
    color: var(--text_br);
    height: 50px !important;
}

.input {
    height: 50px !important;
    background-color: #f8f9fa !important;
}

.input:focus {
    border: 1px solid var(--shadow_sm);
}

.form_box {
    max-width: 350px !important;
}
