.production_room_article {
    height: calc(100vh - 57px);
    background-color: var(--background);
}

.head_history {
    padding: 15px 0;
    border-bottom: 2px solid var(--shadow_smx);
    color: var(--text);
}


.image_name {
    color: var(--text_sm);
    font-size: small;
}

.btn-danger {
    background-color: var(--btn_red) !important;
    height: 42px;
}


.notice {
    color: var(--text_sm);
    font-size: small;
}

.checkbox {
    scale: 1.2;
}


@media (min-width: 576px) {
    .production_room_article {
        left: 0;
        width: calc(100% - 310px) !important;
        height: 100vh;
    }

    .br {
        display: none;
    }
}


@media (min-width: 992px) {
    .production_room_article {
        position: sticky !important;
        height: fit-content;
        border: 2px solid var(--shadow_smx);
        border-radius: 12px;
        margin-bottom: 50px;
    }

    .production_room_article::-webkit-scrollbar {
        width: 0px;
    }

    .show_information_item {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}